<div class="container align-items-center">
  <div class="col-12 align-items-center">
    <h1>
      Welcome
    </h1>
    <p>
      Thanks for the opportunity. Please use the navigation above to try
      the different katas.
    </p>
  </div>
</div>
