<div>
  <h1>
    Welcome
  </h1>
  <p>
    Thanks for the opportunity. Please use the navigation above to try
    the different katas.
  </p>
  <p>
    Checkout the Github repo here https://github.com/nmrichards/amplify-code-kata
  </p>
</div>
